@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.universal_padding {
  @apply px-3 sm:px-8 md:px-10 xl:px-32 2xl:px-56;
}

.button {
  @apply border border-gold font-semibold rounded-3xl px-6 pb-2 pt-1 text-googleMobile lg:text-googleDesktop transition-all duration-300;
}

.start_number {
  @apply text-gold text-introPDesktop font-bold rounded-[100%] w-[40px] h-[40px] mx-auto mb-5 mt-7 text-right pr-[6px] pt-1;
}

.border_width {
  border: 3px solid #95953f;
}

.body-shadow {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.listing {
  list-style-image: url("../src/assets/listimage.png");
  list-style-position: inside;
}

.listing_inside {
  list-style-position: inside;
}

.faqs_body {
  background: #3f3f95;
  box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.cluster_list {
  list-style-image: url("../src/assets/hand.png");
  list-style-position: inside;
}

.cluster_li {
  @apply text-googleDesktop lg:text-contriMobile xl:text-contriDesktop font-bold text-logoColor;
}

.signup form {
  background: #3f3f95;
  box-shadow: 0px 6px 6px rgba(63, 63, 149, 0.25);
}

/* footer */
.footer_div {
  @apply mb-12;
}

.footer_header {
  @apply text-introPDesktop font-bold text-logoColor mb-8 md:text-footermd lg:text-introPDesktop xl:text-contriMobile;
}

.footer_ui li {
  @apply text-introPDesktop font-light text-logoColor mb-3 md:text-footermd lg:text-introPDesktop xl:text-contriMobile;
}

.footer_ui li a {
  @apply hover:text-gold transition-all duration-300;
}

.footer_icons {
  @apply text-white bg-logoColor hover:bg-gold transition-all duration-500 rounded-[100%] p-1 text-[20px] sm:text-[25px] lg:text-[30px];
}

.signup_form {
  width: 100%;
  background: #f5f5f7;
  border: 0.5px solid #3f3f95;
  box-sizing: border-box;
  border-radius: 20px;
}
